* {
    box-sizing: border-box;
    margin: 20px;
}

strong {
    margin: 0;
}

.wrapper {
    display: flex;
}

.img {
    width: 230px;
    vertical-align: top;
}

.info {
    vertical-align: top;
    font-size: 20px;
}

.no-margin {
    margin: 0;
}

.information-title {
    font-size: 30px;
    color: blue;
    font-weight: bold;
}

.information-main {
    margin-left: 0;
    margin-bottom: 0;
    font-weight: bold;
}

.information-detalied {
    margin-top: 0;
    margin-left: 7%;
}